* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.content {
    width: 300px;
    height: 200px;
    /*box-shadow: 0 0 10px darkgray;*/
    background: linear-gradient(to top left,#6742A0, #A53E5E);
    margin-top: 250px;
    margin-left: 300px;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    transform: scale(0);
    opacity: .9;
}
.animation {
	transition: .5s all ease-in-out;
	transform: scale(1);
}

.content h2 {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 20px;
    width: 200px;
    border-radius: 12px;
    font-weight: bold;
}
.btn-present {
	background: linear-gradient(to top right, #3D2255, #5C1E54);
    outline: none !important;
    border: none;
    transition: all ease-in-out .25s;
}
.btn-present:focus {
	outline: none;
}
.btn-present:hover {
	transform: scale(1.1);
}

.vanta-background {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

h2 {
	color: white;
}